<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css/}" />
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.0.10/web-fonts-with-css/css/fontawesome-all.min.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <meta charset="UTF-8">
    <title>Edit product</title>

</head>

<body>

<div class="container ADMIN ml-4">
    <H4><a th:href="@{/admin}" th:text="#{ADMIN.PANEL}"></a></H4>
</div>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">HOME</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="navbar-text" th:text="#{header.logged}" sec:authorize="isAuthenticated()"></li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{/admin}" style="color: #1e90ff" th:text="${#httpServletRequest.getRemoteUser().toUpperCase()}"></a>
                    <a class="nav-link" sec:authorize="hasRole('ROLE_USER')" th:href="@{/user}" style="color: #91a8ff;" th:text="${#httpServletRequest.getRemoteUser().toUpperCase()}"></a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" th:href="@{/logout}" th:text="#{user.log_out}"></a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/login}" th:text="#{user.log_in}"></a>
                </li>
                <li class="nav-item" sec:authorize="!isAuthenticated()">
                    <a class="nav-link" th:href="@{/registration}" th:text="#{register.button}"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>

<div class="container">
    <div class="row" style="margin-top:20px">
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <form autocomplete="off" th:object="${editProduct}" class="form" method="POST" th:action="@{/admin/product/edit/{id}(id=${editProduct.getId()})}">
                <fieldset>
                    <h1 th:text="#{admin.edit.product}"></h1>
                    <div class="form-group">
                        <label th:text="#{product.name}"></label>
                        <input type="text" th:field="*{name}" class="form-control input-lg" title="name" autofocus="true" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
                    </div>
                    <div class="form-group">
                    <label th:text="#{product.category}"></label>
                    <select class="form-control input-lg" th:field="*{category}" name="category" autofocus="true">
                        <option value="0">select</option>
                        <option th:each="cat : ${categories}" th:value="${cat.getId()}"
                                th:text="${cat.getName()}"></option>
                    </select>
                </div>
                    <div class="form-group">
                        <label th:text="#{product.manufacturer}"></label>
                        <select class="form-control input-lg" th:field="*{manufacturer}" name="manufacturer" autofocus="true">
                            <option value="0">select</option>
                            <option th:each="man : ${manufacturer}" th:value="${man.getId()}"
                                    th:text="${man.getName()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label th:text="#{product.supplier}"></label>
                        <select class="form-control input-lg" th:field="*{supplier}" name="supplier" autofocus="true">
                            <option value="0">select</option>
                            <option th:each="sup : ${supplier}" th:value="${sup.getId()}"
                                    th:text="${sup.getName()}"></option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label th:text="#{product.desc}"></label>
                        <input type="text" th:field="*{description}" class="form-control input-lg" title="description" autofocus="false" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{product.image_url}"></label>
                        <input type="url" th:field="*{imageUrl}" class="form-control input-lg" title="imageUrl" autofocus="false" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('imageUrl')}" th:errors="*{imageUrl}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{product.price}"></label>
                        <input type="search" th:field="*{price}" class="form-control input-lg" title="price" autofocus="false" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></div>
                    </div>
                    <div class="form-group">
                        <label th:text="#{product.quantity}"></label>
                        <input type="search" th:field="*{quantity}" class="form-control input-lg" title="quantity" autofocus="false" />
                        <div class="alert alert-danger error-alert" th:if="${#fields.hasErrors('quantity')}" th:errors="*{quantity}"></div>
                    </div>

                    <input type="submit" value="Обновить">
                </fieldset>
            </form>
        </div>
    </div>
</div>

<br>


</body>