<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>

    <style type="text/css">
        TABLE {
            width: 300px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }
        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }
        TH {
            background: 	#87CEFA; /* Цвет фона */
        }
    </style>
</head>
<body>

<div>
  <table>
    <thead>
    <th>ID</th>
    <th>Login</th>
    <th>UserName</th>
    <th>Password</th>
    <th>Roles</th>
    <th>Операция</th>
    </thead>
      <tr th:each="user: ${allUsers}">
              <td th:text="${user.id}"</td>
              <td th:text="${user.login}"</td>
              <td th:text="${user.username}"</td>
              <td th:text="${user.password}"</td>
              <td th:text="${user.getRoles()}"</td>
          <td>
              <form>
                  <button type="submit" th:formaction="@{/admin/user/delete/{id}(id=${user.getId()})}">Delete</button>
              </form>
          </td>
</tr>
  </table>

<br>
  <a href="/">Главная</a>
</div>


</body>
</html>